hr {
  border: 2px solid #000; /* เส้นขอบหนาขึ้น */
  border-radius: 5px; /* ทำให้มุมเส้นโค้ง */
  margin: 20px 0; /* กำหนดระยะห่างจากบน-ล่าง */
}
.form-control {
  max-width: 500px; /* Example value, adjust as needed */
}