.stat-card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  text-align: center;
  color: white;
}

.icon-style {
  margin-bottom: 10px;
}

.stat-value {
  font-size: 24px;
  font-weight: bold;
}

.stat-subtitle {
  font-size: 14px;
}

.recent-orders-card {
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
