/* App.css หรือ StaffLayout.css */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Athiti:wght@200&family=Chakra+Petch:wght@300&family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Josefin+Sans:wght@100&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lilita+One&family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+Gujarati:wght@100&display=swap');


/* ฟอนต์หลักที่ใช้ใน body */
body {
  font-family: "K2D", sans-serif;
}

/* ฟอนต์สำหรับหัวข้อ */
h1, h2, h3, h4, h5, h6 {
  font-family: "K2D", sans-serif;
}

.main-title {
  font-family: "K2D", sans-serif; /* เปลี่ยนฟอนต์สำหรับหัวเรื่อง */
}

/* กำหนดฟอนต์เฉพาะบางส่วน */
table, th, td, Button {
  font-family: "K2D", serif;
}